<ion-view view-title="{{title}}">
  <ion-content  class="padding" start-y="120">
    <div class="content ionic-pseudo">
      <div class="list">
        <ol class="messages">
          <li ng-repeat="message in messages" ng-class="{'-right': message.fromMe, '-left': !message.fromMe}">
            <div>
              <img src="http://ionicframework.com/img/docs/venkman.jpg" class="b-chat-ava">
              <p style="overflow: auto;">
                {{message.content}}<br>
                <small am-time-ago="message.createdAt"></small>
              </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar  class="bar-frosted" style="border-top: 1px solid #b2b2b2;">
    <div class="item item-input" style="width: 100%; padding-right: 10px;">
      <input type="text" placeholder="Message.." ng-model="message.content">
      <i class="icon ion-paper-airplane" style="font-size: 30px;" ng-click="sendMessage()"></i>
    </div>
  </ion-footer-bar>
</ion-view>
